/* Fonts */

@font-face {
    font-family: 'CEYYT';
    src: url("../fonts/CEYYT.ttf") format("truetype");  
}

@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

/* Variables */

:root {
    --nav-width: 50px;
}

/* Shared */

div {
    font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

section {
    width: 100vw;
}

section:nth-of-type(2) {
    width: calc(100vw - var(--nav-width));
}

a, ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: red;
}

.margin {
    margin: 25px 0 25px;
}

.container {
    width: inherit;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.text-sideways {
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

/* Animatons */

.reveal{
    position: relative;
    transition: 1s all ease;
    opacity: 0;
    filter: blur(4px);
}

.reveal.active{
    opacity: 1;
    filter: blur(0);
}

.active.fade-top {
    animation: fade-top 0.7s ease-in;
}

.active.fade-bottom {
    animation: fade-bottom 0.7s ease-in;
}

.active.fade-right {
    animation: fade-right 0.7s ease-in;
}

.active.fade-left {
    animation: fade-left 0.7s ease-in;
}

.active.fade-opacity {
    animation: fade-opacity 2s ease-in;
}

.active.fade-picture {
    animation-delay: 1.5s;
    animation: fade-right 1s ease-in;
}

.active.fade-main{
    animation-duration: 1s ;
}

@keyframes fade-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-opacity {
    0% {
        opacity: 0;
        color: white;
    }
    100% {
        opacity: 1;
        color: red;
    }
}

/* Left Nav */

nav {
    border-right: 1px solid white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--nav-width);
}

.nav-list {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.nav-list li {
    padding: 0 10px 20px;
}

.nav-text-cn {
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 0;
    color: white;
}

/* Right Nav */

.nav-text {
    min-height: 150px;
    color: white;
}

.socials-bar {
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--nav-width);
}

.socials-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.socials-list > * {
    padding: 20px 10px 0;
}

/* Main content, First section */

.chinese {
    font-family: 'CEYYT', sans-serif;
}

.name-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.name-char {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 7.5em;
    color: red;
}

.char-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.char-2 {
    grid-area: 2 / 2 / 3 / 3;
}

.char-3 {
    grid-area: 3 / 3 / 4 / 4;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    font-size: 0.9em;
    color: white;
}

.about-cn { 
    grid-area: 2 / 1 / 4 / 2;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.about-eng { 
    grid-area: 1 / 3 / 3 / 4; 
    writing-mode: vertical-rl;
    text-orientation: sideways;
}


.about-me-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.about-me-grid > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    grid-area: 1 / 1 / 4 / 2;
    flex-direction: row;
}

.about-me-skills {
    grid-area: 1 / 2 / 4 / 3;
    flex-direction: row;
}

.about-me-text-header {
    color: red;
    margin: 15px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
}

.about-me-picture {
    grid-area: 1 / 3 / 4 / 4;
}

#me-picture {
    object-fit: contain;
    width: 20vw;
    border-radius: 25px;
}

#me-picture:hover {
    cursor: pointer;
}